// Tint a color: mix a color with white
@function tint-color($color, $weight) {
    @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
    @return mix(black, $color, $weight);
}

@each $color,
$value in $theme-colors {
    .btn-light-#{"" + $color},
    .bg-light-#{"" + $color} {
        // color: $value !important;
        background-color: tint-color($value, 20%) !important;
    }
    .btn-outline-#{"" + $color} {
        color: $value;
        border-color: $value;
    }
    .btn-#{"" + $color},
    .bg-#{"" + $color} {
        // color: $value !important;
        background-color: $value !important;
        border-color: $value !important;
    }
    .btn-gradient-#{"" + $color},
    .bg-gradient-#{"" + $color} {
        background-image: linear-gradient(to right, shade-color($value, 22%), tint-color($value, 5.0%)) !important;
    }
    .border-light-#{"" + $color} {
        border-color: tint-color($value, 20%) !important;
    }
    .border-#{"" + $color} {
        border-color: $value !important;
    }
    .text-light-#{"" + $color} {
        color: tint-color($value, 20%) !important;
    }
    .text-#{"" + $color} {
        color: $value !important;
    }
    .btn-light-#{"" + $color} {
        &:hover,
        &:active,
        &:focus {
            background-color: $value !important;
            color: tint-color($value, 20%) !important;
        }
    }
    .btn-#{"" + $color} {
        &:hover,
        &:active,
        &:focus {
            background-color: tint-color($value, 20%) !important;
            // color: $value !important;
        }
    }
}